.post-type-btn-selected {
    background: #63469D;
    color: white;
}

.post-type-btn-unselected {
    background: white;
    color: #63469D;
}

.post-type-btn-selected, .post-type-btn-unselected {
    width: 70px;
    height: 30px;
    border-radius: 10px;
    margin-right: 15px;
    text-align: center;
    line-height: 30px;
    border-style: solid;
    border-color: #63469D;
    border-width: 1px;
}

.post-type-btns {
    display: flex;
    flex-direction: row;
}

.label-selected {
    background: #63469D;
}

.label-unselected {
    background: grey;
}

.create-post {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 537px;
    border-radius: 15px;
    background: #ffffff;
}

.create-post-head-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    color: white;
    height: 60px;
    background: #727272;
    border-radius: 15px 15px 0px 0px;
}